 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>A Personal Chef Service.</p>
                </div>
                <div class="col-lg-4">
                    <p>Serving well-balanced, all-natural, all organic ready to re-heat and eat meals to you and your family.</p>
                </div>
            </div>
        </div>
    </section>
