<!-- About Section -->
<section class="success" id="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>About</h2>
				<hr class="star-light">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-lg-offset-2">
				<p class="text-center">A Personal Chef Service.</p>
			</div>
			<div class="col-lg-4">
				<p class="text-center">Serving well-balanced, all-natural, all organic ready to
					re-heat and eat meals to you and your family.</p>
			</div>
		</div>
		<div class="col-lg-8 col-lg-offset-2" role="tabpanel">
			<!-- About Nav Tabs -->
			<ul class="nav nav-pills" role="tablist">
				<li class="active" role="presentation"><a class="btn btn-primary" aria-controls="about_me" data-toggle="pill" href="#about_me" role="tab">About
					Me</a></li>
				<li role="presentation"><a class="btn btn-primary" aria-controls="about_name" data-toggle="pill" href="#about_name" role="tab">About
					The Name</a></li>
				<li role="presentation"><a class="btn btn-primary" aria-controls="about_service" data-toggle="pill" href="#about_service"
					role="tab">About The Service</a></li>
			</ul>
			<!-- About Nav Tab Panes -->
			<div class="tab-content">
				<div class="tab-pane fade in active" id="about_me" role="tabpanel">
					<p></p>
					<p>
						Hello friends! My name is Laura Beth. I've lived in Nashville now for almost 5
						years. I love great food and I love sharing greatness with others!
					</p>
					<p></p>
					<p>
						I'm a Leo as zodiac signs go. I'm light hearted, calm, hardworking, loyal,
						passionate, and independent. I seek balance in all things and am always looking
						to evolve and better my life experience.
					</p>
					<p></p>
					<p>
						Ladder &amp; Dolly is the result of many years of brainstorming but primarily
						came to me during the postpartum recovery of my first son, in January 2014. I
						had a beautifully supportive and overwhelmingly gracious support team that
						hardly left my side, making sure I had water, organic snacks and healthy,
						well-rounded meals 24-7. This was an extremely beneficial way for me to gain
						back my strength and begin the incredible journey into motherhood. I am forever
						grateful to them for loving me this way. That said, it was a lot of work keeping
						foods prepared and at the ready!
					</p>
					<p></p>
					<p>
						This all sparked desire and inspiration within me to create a business where my
						focus is to enhance others' lives by providing service that ensures quality and
						convenience to each individual's needs and lifestyle.
					</p>
					<p></p>
					<p>
						Whether you are a new mother, a small family that's on the go, or you're just
						looking for help with meal planning and execution to support your already
						healthy and robust lifestyle, I can help!
					</p>
					<p></p>
				</div>
				<div class="tab-pane fade" id="about_name" role="tabpanel">
					<p></p>
					<p>
						"What's it all about?"
					</p>
					<p></p>
					<p>
						"What does the name mean?"
					</p>
					<p></p>
					<p>
						"Where did the name come from?"
					</p>
					<p></p>
					<p>
						The two words jumped off the screen at me one day in an email to the maintenance
						man of my apartment complex.
					</p>
					<p></p>
					<p>
						"... could you please leave me the ladder and dolly outside unit #369?"
					</p>
					<p></p>
					<p>
						The words not only rolled out of my mouth nicely as I read aloud, they also made
						me feel something. A ladder and a dolly ... as pieces of metal and rubber,
						expertly fashioned to be the tools that they are, they would soon be helping me
						set up a new home. Helping me with some of the heavy lifting, the hanging of
						curtains at the tippie top of 18 foot ceilings and providing me the ability to
						playfully move things about my space until it all felt just right.
					</p>
					<p></p>
					<p>
						Symbolically, I feel as though the name represents my passion in life. To help
						others obtain success and inspiration in their lives by sharing my own high
						standards for nutrition, health, and overall well being. To create more time,
						space, and ease for you and your family by preparing great quality foods and
						balanced meals that can be enjoyed together around a dining room table or on the
						go as you sprint out the door to work. To hopefully inspire and become inspired
						by those around me daily so that we're all feeling more and more playful about
						our time here together.
					</p>
					<p></p>
				</div>
				<div class="tab-pane fade" id="about_service" role="tabpanel">
					<br>
						<h3>How it works!</h3>
						<ul>
							<li>I welcome the opportunity to meet with you for a free one hour consultation
								where we can discuss your nutrition goals and desires so taht your menu is
								suitable to you and your family's needs. It would also be an opportunity for me
								to familiarize myself with any food allergies or special dietary concerns you
								may have. (I'm happy to communicate with you about these things via email or
								over the phone as well).</li>
						</ul>
					</div>
				</div>
			</div>
			<!--
					<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text_content">
				<p>
					Hello friends! My name is Laura Beth. I've lived in Nashville now for almost 5
					years. I love great food and I love sharing greatness with others!
				</p>
			                <br>
				<p>
					I'm a Leo as zodiac signs go. I'm light hearted, calm, hardworking, loyal,
					passionate, and independent. I seek balance in all things and am always looking
					to evolve and better my life experience.
				</p>
			                <br>
				<p>
					Ladder &amp; Dolly is the result of many years of brainstorming but primarily
					came to me during the postpartum recovery of my first son, in January 2014. I
					had a beautifully supportive and overwhelmingly gracious support team that
					hardly left my side, making sure I had water, organic snacks and healthy,
					well-rounded meals 24-7. This was an extremely beneficial way for me to gain
					back my strength and begin the incredible journey into motherhood. I am forever
					grateful to them for loving me this way. That said, it was a lot of work keeping
					foods prepared and at the ready!
				</p>
			                <br>
				<p>
					This all sparked desire and inspiration within me to create a business where my
					focus is to enhance others' lives by providing service that ensures quality and
					convenience to each individual's needs and lifestyle.
				</p>
			                <br>
				<p>
					Whether you are a new mother, a small family that's on the go, or you're just
					looking for help with meal planning and execution to support your already
					healthy and robust lifestyle, I can help!
				</p>
			</div>
					</div>
			        <hr class="col-lg-8 col-lg-offset-2">
			        <div class="row">
			            <div class="col-lg-8 col-lg-offset-2 text_content text-center">
			                <button type="button" data-target="#collapseName" class="btn btn-lg btn-success text-center" data-toggle="collapse" aria-expanded="false" aria-controls="collapseName">Where did the name come from?</button>
			            </div>
			            <div class="col-lg-8 col-lg-offset-2">
			                <div id="collapseName" class="collapse text_content">
			                    <p>
			                        "What's it all about?"
			                    </p>
			                    <br>
			                    <p>
			                        "What does the name mean?"
			                    </p>
			                    <br>
			                    <p>
			                        "Where did the name come from?"
			                    </p>
			                    <br>
			                    <p>
			                        The two words jumped off the screen at me one day in an email to the maintenance
			                        man of my apartment complex.
			                    </p>
			                    <br>
			                    <p>
			                        "... could you please leave me the ladder and dolly outside unit #369?"
			                    </p>
			                    <br>
			                    <p>
			                        The words not only rolled out of my mouth nicely as I read aloud, they also made
			                        me feel something. A ladder and a dolly ... as pieces of metal and rubber,
			                        expertly fashioned to be the tools that they are, they would soon be helping me
			                        set up a new home. Helping me with some of the heavy lifting, the hanging of
			                        curtains at the tippie top of 18 foot ceilings and providing me the ability to
			                        playfully move things about my space until it all felt just right.
			                    </p>
			                    <br>
			                    <p>
			                        Symbolically, I feel as though the name represents my passion in life. To help
			                        others obtain success and inspiration in their lives by sharing my own high
			                        standards for nutrition, health, and overall well being. To create more time,
			                        space, and ease for you and your family by preparing great quality foods and
			                        balanced meals that can be enjoyed together around a dining room table or on the
			                        go as you sprint out the door to work. To hopefully inspire and become inspired
			                        by those around me daily so that we're all feeling more and more playful about
			                        our time here together.
			                    </p>
			                </div>
			            </div>
			        </div>
			        -->
		</div>
	</section>
