<!-- Why Ladder and Dolly Section -->
<section id="why">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Why Ladder &amp; Dolly?</h2>
				<hr class="star-primary">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<p>
					"What's it all about?"
				</p>
                <br>
				<p>
					"What does the name mean?"
				</p>
                <br>
				<p>
					"Where did the name come from?"
				</p>
                <br>
				<p>
					The two words jumped off the screen at me one day in an email to the maintenance
					man of my apartment complex.
				</p>
                <br>
				<p>
					"... could you please leave me the ladder and dolly outside unit #369?"
				</p>
                <br>
				<p>
					The words not only rolled out of my mouth nicely as I read aloud, they also made
					me feel something. A ladder and a dolly ... as pieces of metal and rubber,
					expertly fashioned to be the tools that they are, they would soon be helping me
					set up a new home. Helping me with some of the heavy lifting, the hanging of
					curtains at the tippie top of 18 foot ceilings and providing me the ability to
					playfully move things about my space until it all felt just right.
				</p>
                <br>
				<p>
					Symbolically, I feel as though the name represents my passion in life. To help
					others obtain success and inspiration in their lives by sharing my own high
					standards for nutrition, health, and overall well being. To create more time,
					space, and ease for you and your family by preparing great quality foods and
					balanced meals that can be enjoyed together around a dining room table or on the
					go as you sprint out the door to work. To hopefully inspire and become inspired
					by those around me daily so that we're all feeling more and more playful about
					our time here together.
				</p>
			</div>
		</div>
	</div>
</section>
